asgiref
blinker
Brotli
certifi
cffi
charset-normalizer
click
cryptography
Django
django-crispy-forms
django-filter
djangorestframework
djangorestframework-simplejwt
fastapi
Flask
h11
h2
hpack
hyperframe
idna
itsdangerous
Jinja2
joblib
kaitaistruct
ldap3
MarkupSafe
mitmproxy
msgpack
numpy
opencv-python
passlib
protobuf
publicsuffix2
pyasn1
pycparser
pydantic
Pygments
pyOpenSSL
pyparsing
pyperclip
python-dotenv
pytz
requests
requests-mock
responses
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
six
scikit-learn
sortedcontainers
sqlparse
starlette
threadpoolctl
tornado
typing-extensions
urllib3
urwid
Werkzeug
wsproto
zstandard